{% extends 'base.html' %}
{% load static %}

{% block title %}
Bridging Offering Letter - Pembiayaan Jangka Pendek | FINANCIAL BROKER
{% endblock %}

{% block meta_description %}
Dapatkan dukungan finansial sementara dengan Bridging Offering Letter dari FINANCIAL BROKER. Solusi tepat untuk kebutuhan pembiayaan proyek atau investasi Anda.
{% endblock %}

{% block meta_keywords %}
Bridging Offering Letter, pembiayaan jangka pendek, bridging loan, dukungan finansial, proyek investasi, FINANCIAL BROKER
{% endblock %}

{% block content %}
    <!-- Service Details Section -->
    <section id="service-details" class="service-details section" style="margin-top: 80px;">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="services-list">
              <a href="{% url 'kpr' %}">KPR</a>
              <a href="{% url 'kredit_investasi' %}">Kredit Investasi</a>
              <a href="{% url 'multiguna_refinancing' %}">Multiguna / Refinancing</a>
              <a href="{% url 'modal_kerja' %}">Modal Kerja</a>
              <a href="{% url 'take_over' %}">Take Over</a>
              <a href="{% url 'jaminan_bpkb_alat_berat' %}">Jaminan BPKB / Alat Berat</a>
              <a href="{% url 'invoice_po_spk_financing' %}">Invoice / PO / SPK Financing</a>
              <a href="{% url 'bridging_offering_letter' %}" class="active">Bridging Offering Letter</a>
          </div>

            <h4></h4>
            <p></p>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
            <h3>Bridging Offering Letter</h3>
            <p>
                Bridging Offering Letter adalah surat penawaran yang diterbitkan oleh lembaga keuangan, umumnya dalam konteks pembiayaan proyek atau investasi. Surat ini menjelaskan tawaran untuk memberikan fasilitas kredit jangka pendek (bridging loan) yang bertujuan untuk memenuhi kebutuhan finansial sementara sebelum memperoleh sumber pendanaan jangka panjang atau permanen.
            </p>
            <p>
                Surat ini biasanya mencakup rincian penting mengenai jumlah kredit yang ditawarkan, syarat-syarat pinjaman, serta ketentuan pembayaran yang berlaku. Dengan demikian, Bridging Offering Letter berfungsi sebagai dokumen awal yang menggambarkan komitmen lembaga keuangan dalam memberikan dukungan pembiayaan selama periode transisi.
            </p>
            <p>
                <strong>Solusi untuk KPR</strong>
                <br> Jika Anda ingin menjual rumah yang masih dalam proses KPR dan ingin melakukan pelunasan agar sertifikat bisa dikeluarkan, kami siap membantu dengan Bridging Offering Letter yang sesuai kebutuhan Anda.
            </p>
            <p>
                <strong>Pembiayaan Jangka Pendek</strong>
                <br> Bridging Offering Letter memungkinkan Anda untuk mendapatkan pembiayaan yang cepat dan fleksibel, sehingga Anda dapat menyelesaikan transaksi dengan lebih lancar.
            </p>
            <p>
                <strong>Komitmen Lembaga Keuangan</strong>
                <br> Dengan surat penawaran ini, Anda dapat merasa yakin bahwa lembaga keuangan berkomitmen untuk mendukung kebutuhan finansial Anda selama periode transisi.
            </p>
            <p>
                Dengan semua manfaat ini, Bridging Offering Letter menjadi solusi efektif bagi mereka yang membutuhkan dukungan pembiayaan sementara untuk transaksi properti mereka.
            </p>
            
            <div class="d-flex">
                <a href="/loan_inquiry/bridging_offering_letter/" class="btn-custom">
                    Ajukan Pinjaman <i class="bi bi-arrow-right"></i>
                </a>
            </div>
          </div>

        </div>

      </div>

    </section><!-- /Service Details Section -->

    <!-- Faq Section -->
  <section id="faq" class="faq section" style="margin-top: -40px;">

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="content px-xl-5">
            <h3><span>Frequently Asked </span><strong>Questions</strong></h3>
            <p>
              FINANCIAL BROKER bertugas mencarikan lembaga keuangan yang sesuai dengan kebutuhan Anda. Kami fokus pada solusi pinjaman yang tepat, tanpa terlibat dalam pemberian pinjaman langsung.
            </p>
          </div>
        </div>

        <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

          <div class="faq-container">
            <div class="faq-item faq-active">
              <h3><span class="num">1.</span> <span>Apa itu Bridging Offering Letter?</span></h3>
              <div class="faq-content">
                <p>Ini adalah pinjaman sementara yang digunakan untuk menjembatani kebutuhan dana sebelum pinjaman utama disetujui atau cair.</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

            <div class="faq-item">
              <h3><span class="num">2.</span> <span>Kapan Bridging Offering Letter biasanya digunakan?</span></h3>
              <div class="faq-content">
                <p>Digunakan saat Anda perlu segera memiliki dana sementara menunggu persetujuan atau pencairan pinjaman utama.</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

            <div class="faq-item">
              <h3><span class="num">3.</span> <span>Berapa lama jangka waktu pinjaman Bridging Offering Letter?</span></h3>
              <div class="faq-content">
                <p>Jangka waktunya biasanya singkat, antara 1 hingga 12 bulan, tergantung kesepakatan.</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->
            
          </div>

        </div>
      </div>

    </div>

  </section><!-- /Faq Section -->

{% endblock %}