{% extends 'base.html' %}
{% load static %}

{% block title %}
Jaminan BPKB - Dapatkan Dana Cepat dengan Jaminan Kendaraan | FINANCIAL BROKER
{% endblock %}

{% block meta_description %}
Gunakan BPKB kendaraan Anda sebagai jaminan untuk mendapatkan pinjaman dengan suku bunga kompetitif melalui FINANCIAL BROKER. Solusi cepat untuk kebutuhan dana Anda.
{% endblock %}

{% block meta_keywords %}
Jaminan BPKB, pinjaman dengan jaminan, BPKB mobil, dana cepat, suku bunga rendah, FINANCIAL BROKER
{% endblock %}

{% block content %}
    <!-- Service Details Section -->
    <section id="service-details" class="service-details section" style="margin-top: 80px;">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="services-list">
              <a href="{% url 'kpr' %}">KPR</a>
              <a href="{% url 'kredit_investasi' %}">Kredit Investasi</a>
              <a href="{% url 'multiguna_refinancing' %}">Multiguna / Refinancing</a>
              <a href="{% url 'modal_kerja' %}">Modal Kerja</a>
              <a href="{% url 'take_over' %}">Take Over</a>
              <a href="{% url 'jaminan_bpkb_alat_berat' %}" class="active">Jaminan BPKB / Alat Berat</a>
              <a href="{% url 'invoice_po_spk_financing' %}">Invoice / PO / SPK Financing</a>
              <a href="{% url 'bridging_offering_letter' %}">Bridging Offering Letter</a>
          </div>

            <h4></h4>
            <p></p>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
            <h3>Jaminan BPKB</h3>
            <p>
                Jaminan BPKB mobil adalah sebuah skema kredit di mana Buku Pemilik Kendaraan Bermotor (BPKB) digunakan sebagai agunan untuk mendapatkan pinjaman dari bank atau lembaga keuangan. Dalam skema ini, BPKB yang dimiliki oleh debitur dijadikan jaminan, memungkinkan debitur untuk memperoleh dana dengan menggunakan nilai kendaraan yang dimiliki sebagai basis pinjaman. Ini adalah pilihan populer bagi mereka yang membutuhkan dana tambahan namun tidak ingin menjual aset yang dimilikinya.
            </p>
            <p>
                <strong>BPKB sebagai Bukti Kepemilikan</strong>
                <br>BPKB, sebagai bukti kepemilikan resmi kendaraan, memberikan hak kepada lembaga keuangan untuk mengambil alih atau menyita kendaraan jika debitur gagal memenuhi kewajiban pembayaran pinjaman. Ini memberikan keamanan tambahan bagi pemberi pinjaman, sehingga mereka cenderung menawarkan suku bunga yang lebih rendah dibandingkan dengan jenis pinjaman tanpa jaminan.
            </p>
            <p>
                <strong>Fleksibilitas Penggunaan Dana</strong>
                <br>Jaminan BPKB mobil sering digunakan dalam kredit mobil, baik untuk membeli kendaraan baru maupun bekas, atau dalam kredit multiguna di mana dana yang diperoleh bisa digunakan untuk berbagai keperluan, seperti renovasi rumah, biaya pendidikan, atau modal usaha. Dengan menjaminkan BPKB, debitur bisa mendapatkan jumlah pinjaman yang lebih besar, dengan tenor yang fleksibel dan suku bunga yang lebih kompetitif.
            </p>
            <p>
                <strong>Proses Pengajuan yang Mudah</strong>
                <br>Proses pengajuan kredit dengan jaminan BPKB mobil biasanya melibatkan penilaian kendaraan, pengumpulan dokumen kepemilikan, dan persetujuan dari bank atau lembaga keuangan. Setelah pinjaman disetujui, BPKB akan disimpan oleh lembaga keuangan hingga pinjaman dilunasi sepenuhnya. Ini adalah solusi efektif bagi mereka yang membutuhkan akses cepat ke dana tanpa harus menjual kendaraan yang dimiliki.
            </p>
            <div class="d-flex">
                <a href="/loan_inquiry/jaminan_bpkb/" class="btn-custom">
                    Ajukan Pinjaman <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>

        </div>

      </div>

    </section><!-- /Service Details Section -->

    <!-- Faq Section -->
  <section id="faq" class="faq section" style="margin-top: -40px;">

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="content px-xl-5">
            <h3><span>Frequently Asked </span><strong>Questions</strong></h3>
            <p>
              FINANCIAL BROKER bertugas mencarikan lembaga keuangan yang sesuai dengan kebutuhan Anda. Kami fokus pada solusi pinjaman yang tepat, tanpa terlibat dalam pemberian pinjaman langsung.
            </p>
          </div>
        </div>

        <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

          <div class="faq-container">
            <div class="faq-item faq-active">
              <h3><span class="num">1.</span> <span>Apa itu pinjaman dengan Jaminan BPKB?</span></h3>
              <div class="faq-content">
                <p>Pinjaman ini adalah kredit yang menggunakan BPKB kendaraan sebagai jaminan.</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

            <div class="faq-item">
              <h3><span class="num">2.</span> <span>Apa yang terjadi jika saya gagal membayar cicilan?</span></h3>
              <div class="faq-content">
                <p>Bank berhak menarik kendaraan yang dijadikan jaminan jika cicilan tidak dibayar sesuai perjanjian.</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

          </div>

        </div>
      </div>

    </div>

  </section><!-- /Faq Section -->

{% endblock %}