{% extends 'base.html' %}
{% load static %}

{% block title %}
KPR Primary - Pembiayaan Rumah Baru | FINANCIAL BROKER
{% endblock %}

{% block meta_description %}
Temukan solusi pembiayaan terbaik untuk membeli rumah baru dengan KPR Primary melalui FINANCIAL BROKER. Dapatkan suku bunga promosi dan kemudahan proses pengajuan.
{% endblock %}

{% block meta_keywords %}
KPR Primary, pembiayaan rumah baru, kredit rumah, suku bunga rendah, proses mudah, FINANCIAL BROKER
{% endblock %}

{% block content %}
    <!-- Service Details Section -->
    <section id="service-details" class="service-details section" style="margin-top: 80px;">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="services-list">
                <a href="{% url 'kpr' %}" class="active">KPR</a>
                <a href="{% url 'kredit_investasi' %}">Kredit Investasi</a>
                <a href="{% url 'multiguna_refinancing' %}">Multiguna / Refinancing</a>
                <a href="{% url 'modal_kerja' %}">Modal Kerja</a>
                <a href="{% url 'take_over' %}">Take Over</a>
                <a href="{% url 'jaminan_bpkb_alat_berat' %}">Jaminan BPKB / Alat Berat</a>
                <a href="{% url 'invoice_po_spk_financing' %}">Invoice / PO / SPK Financing</a>
                <a href="{% url 'bridging_offering_letter' %}">Bridging Offering Letter</a>
            </div>

            <h4></h4>
            <p></p>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
            <h3>KPR Primary</h3>
            <p>
                KPR Primary (Kredit Pemilikan Rumah Primary) adalah jenis pembiayaan kredit yang diberikan oleh bank atau lembaga keuangan untuk membantu pembelian rumah baru yang dibangun langsung oleh pengembang (developer) atau pengembang perumahan. Pada KPR Primary, rumah yang dibeli biasanya masih dalam tahap pembangunan atau sudah selesai dibangun, dan pembeli melakukan transaksi langsung dengan pengembang untuk pembelian rumah baru tersebut.
            </p>
            <p>
                KPR Primary menawarkan beberapa keunggulan,
            </p>
            <p>
                <strong>Suku Bunga Promosi</strong>
                <br> Biasanya ditawarkan dengan suku bunga yang lebih rendah pada tahap awal kredit, yang bisa membantu mengurangi beban cicilan di awal.
            </p>
            <p>
                <strong>Proses Pengajuan Lebih Mudah</strong>
                <br> Berkat kerja sama khusus antara bank dan pengembang, proses pengajuan kredit sering kali lebih cepat dan lebih sederhana.
            </p>
            <p>
                <strong>Potensi Investasi</strong>
                <br> Membeli rumah baru dalam proyek pengembangan dengan prospek yang baik bisa memberikan pertumbuhan nilai properti yang signifikan di masa depan.
            </p>
            <p>
                Dengan segala keunggulan ini, KPR Primary menjadi pilihan yang menarik bagi mereka yang ingin memiliki rumah baru dengan proses yang lebih mudah dan berbagai keuntungan tambahan.
            </p>

            <div class="d-flex">
                <a href="/loan_inquiry/kpr_primary/" class="btn-custom">
                    Ajukan Pinjaman <i class="bi bi-arrow-right"></i>
                </a>
            </div>
              
          </div>

        </div>

      </div>

    </section><!-- /Service Details Section -->

    <!-- Faq Section -->
  <section id="faq" class="faq section" style="margin-top: -40px;">

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="content px-xl-5">
            <h3><span>Frequently Asked </span><strong>Questions</strong></h3>
            <p>
              FINANCIAL BROKER bertugas mencarikan lembaga keuangan yang sesuai dengan kebutuhan Anda. Kami fokus pada solusi pinjaman yang tepat, tanpa terlibat dalam pemberian pinjaman langsung.
            </p>
          </div>
        </div>

        <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

          <div class="faq-container">
            <div class="faq-item faq-active">
              <h3><span class="num">1.</span> <span>Apa itu KPR Primary?</span></h3>
              <div class="faq-content">
                <p>KPR Primary adalah jenis kredit pemilikan rumah yang digunakan untuk membeli rumah baru dari pengembang atau developer.</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

            <div class="faq-item">
              <h3><span class="num">2.</span> <span>Siapa yang bisa mengajukan KPR Primary?</span></h3>
              <div class="faq-content">
                <p>KPR Primary dapat diajukan oleh siapa saja yang memiliki penghasilan tetap dan memenuhi syarat dari bank pemberi pinjaman.</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

            <div class="faq-item">
              <h3><span class="num">3.</span> <span>Berapa lama tenor KPR Primary?</span></h3>
              <div class="faq-content">
                <p>Tenor KPR Primary biasanya berkisar antara 5 hingga 20 tahun, tergantung kebijakan bank.</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

            <div class="faq-item">
              <h3><span class="num">4.</span> <span>Apa perbedaan KPR Secondary dengan KPR Primary?</span></h3>
              <div class="faq-content">
                <p>KPR Secondary digunakan untuk membeli rumah bekas atau second, sedangkan KPR Primary untuk rumah baru dari pengembang.</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

          </div>

        </div>
      </div>

    </div>

  </section><!-- /Faq Section -->

{% endblock %}