{% extends 'base.html' %}
{% load static %}

{% block title %}
KPR Secondary - Pembiayaan Rumah Bekas | FINANCIAL BROKER
{% endblock %}

{% block meta_description %}
Temukan solusi pembiayaan rumah bekas terbaik dengan KPR Secondary melalui FINANCIAL BROKER. Nikmati suku bunga kompetitif dan proses pengajuan yang mudah.
{% endblock %}

{% block meta_keywords %}
KPR Secondary, pembiayaan rumah bekas, kredit rumah, suku bunga kompetitif, proses mudah, FINANCIAL BROKER
{% endblock %}

{% block content %}
    <!-- Service Details Section -->
    <section id="service-details" class="service-details section" style="margin-top: 80px;">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="services-list">
              <a href="{% url 'kpr' %}" class="active">KPR</a>
              <a href="{% url 'kredit_investasi' %}">Kredit Investasi</a>
              <a href="{% url 'multiguna_refinancing' %}">Multiguna / Refinancing</a>
              <a href="{% url 'modal_kerja' %}">Modal Kerja</a>
              <a href="{% url 'take_over' %}">Take Over</a>
              <a href="{% url 'jaminan_bpkb_alat_berat' %}">Jaminan BPKB / Alat Berat</a>
              <a href="{% url 'invoice_po_spk_financing' %}">Invoice / PO / SPK Financing</a>
              <a href="{% url 'bridging_offering_letter' %}">Bridging Offering Letter</a>
          </div>

            <h4></h4>
            <p></p>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
            <h3>KPR Secondary</h3>
            <p>
                KPR Secondary (Kredit Pemilikan Rumah Secondary) adalah fasilitas pembiayaan yang diberikan oleh bank atau lembaga keuangan untuk membantu pembelian rumah bekas atau tangan kedua yang sebelumnya telah dimiliki oleh orang lain. Dalam KPR Secondary, pembeli melakukan transaksi pembelian rumah yang sudah ada, biasanya melalui penjualan antara individu.
            </p>
            <p>
                KPR Secondary menawarkan beberapa keuntungan,
            </p>
            <p>
                <strong>Pilihan Properti Beragam</strong>
                <br> Calon debitur dapat memilih dari berbagai jenis properti, mulai dari rumah keluarga tunggal hingga apartemen, yang sesuai dengan kebutuhan dan anggaran mereka.
            </p>
            <p>
                <strong>Negosiasi Harga</strong>
                <br> Dalam transaksi KPR Secondary, pembeli memiliki kesempatan untuk bernegosiasi harga dengan penjual, yang dapat memberikan keuntungan dalam mendapatkan harga yang lebih baik.
            </p>
            <p>
                <strong>Lokasi Strategis</strong>
                <br> Banyak rumah bekas berada di lokasi yang sudah berkembang, dengan akses yang baik ke fasilitas umum seperti sekolah, rumah sakit, dan pusat perbelanjaan.
            </p>
            <p>
                Dengan berbagai keuntungan ini, KPR Secondary menjadi pilihan menarik bagi mereka yang ingin memiliki rumah tanpa harus membeli rumah baru, serta menawarkan fleksibilitas dalam memilih properti yang tepat.
            </p>

            <div class="d-flex">
                <a href="/loan_inquiry/kpr_secondary/" class="btn-custom">
                    Ajukan Pinjaman <i class="bi bi-arrow-right"></i>
                </a>
            </div>
              
          </div>

        </div>

      </div>

    </section><!-- /Service Details Section -->

    <!-- Faq Section -->
  <section id="faq" class="faq section" style="margin-top: -40px;">

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="content px-xl-5">
            <h3><span>Frequently Asked </span><strong>Questions</strong></h3>
            <p>
              FINANCIAL BROKER bertugas mencarikan lembaga keuangan yang sesuai dengan kebutuhan Anda. Kami fokus pada solusi pinjaman yang tepat, tanpa terlibat dalam pemberian pinjaman langsung.
            </p>
          </div>
        </div>

        <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

          <div class="faq-container">
            <div class="faq-item faq-active">
              <h3><span class="num">1.</span> <span>Apa itu KPR Secondary?</span></h3>
              <div class="faq-content">
                <p>
                  KPR Secondary (Kredit Pemilikan Rumah Secondary) adalah fasilitas pembiayaan yang diberikan oleh bank atau lembaga keuangan untuk membantu pembelian rumah bekas atau tangan kedua yang sebelumnya telah dimiliki oleh orang lain.                </p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

            <div class="faq-item">
              <h3><span class="num">2.</span> <span>Apa perbedaan KPR Secondary dengan KPR Primary?</span></h3>
              <div class="faq-content">
                <p>KPR Secondary digunakan untuk membeli rumah bekas atau second, sedangkan KPR Primary untuk rumah baru dari pengembang.</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

            <div class="faq-item">
              <h3><span class="num">3.</span> <span>Apakah saya bisa menggunakan KPR Secondary untuk properti komersial?</span></h3>
              <div class="faq-content">
                <p>Biasanya KPR Secondary lebih fokus pada properti residensial, tetapi ada beberapa bank yang menawarkan pinjaman untuk properti komersial.</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

          </div>

        </div>
      </div>

    </div>

  </section><!-- /Faq Section -->

{% endblock %}