{% extends 'base.html' %}
{% load static %}

{% block title %}
Take Over Top Up - Tambah Pinjaman dengan Syarat Lebih Baik | FINANCIAL BROKER
{% endblock %}

{% block meta_description %}
Tingkatkan jumlah pinjaman Anda dan pindahkan kredit ke bank dengan suku bunga lebih rendah melalui Take Over Top Up dari FINANCIAL BROKER. Solusi ideal untuk kebutuhan tambahan dana.
{% endblock %}

{% block meta_keywords %}
Take Over Top Up, tambah pinjaman, suku bunga rendah, pindah kredit, solusi keuangan, FINANCIAL BROKER
{% endblock %}

{% block content %}
    <!-- Service Details Section -->
    <section id="service-details" class="service-details section" style="margin-top: 80px;">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="services-list">
              <a href="{% url 'kpr' %}">KPR</a>
              <a href="{% url 'kredit_investasi' %}">Kredit Investasi</a>
              <a href="{% url 'multiguna_refinancing' %}">Multiguna / Refinancing</a>
              <a href="{% url 'modal_kerja' %}">Modal Kerja</a>
              <a href="{% url 'take_over' %}" class="active">Take Over</a>
              <a href="{% url 'jaminan_bpkb_alat_berat' %}">Jaminan BPKB / Alat Berat</a>
              <a href="{% url 'invoice_po_spk_financing' %}">Invoice / PO / SPK Financing</a>
              <a href="{% url 'bridging_offering_letter' %}">Bridging Offering Letter</a>
          </div>

            <h4></h4>
            <p></p>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
            <h3>Take Over Top Up</h3>
            <p>
                Take Over Top Up adalah proses di mana kredit yang ada dipindahkan dari satu bank ke bank lain (take over), sambil menambahkan jumlah pinjaman (top up) saat proses pengalihan tersebut. Ini sering dilakukan oleh nasabah yang ingin memanfaatkan suku bunga lebih rendah di bank lain, sekaligus membutuhkan tambahan dana di luar sisa pinjaman yang ada.
            </p>
            <p>
                Proses ini terdiri dari dua komponen utama:
            </p>
            <p>
                <strong>Take Over</strong>
                <br> Nasabah memindahkan pinjaman dari bank awal ke bank baru yang menawarkan suku bunga atau skema pembayaran yang lebih menguntungkan.
            </p>
            <p>
                <strong>Top Up</strong>
                <br> Nasabah memperoleh tambahan dana dari bank baru, yang dapat digunakan untuk berbagai kebutuhan, seperti renovasi rumah atau keperluan lainnya. Jumlah pinjaman ini melebihi sisa kredit yang ada, sehingga nasabah mendapatkan dana tunai tambahan.
            </p>
            <p>
                Proses ini menguntungkan jika dilakukan di bank yang menawarkan suku bunga lebih rendah, karena cicilan dapat tetap terkendali meskipun ada penambahan pinjaman.
            </p>
        
            <div class="d-flex">
                <a href="/loan_inquiry/take_over_top_up/" class="btn-custom">
                    Ajukan Pinjaman <i class="bi bi-arrow-right"></i>
                </a>
            </div>
          </div>
        
        </div>

      </div>

    </section><!-- /Service Details Section -->

    <!-- Faq Section -->
  <section id="faq" class="faq section" style="margin-top: -40px;">

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="content px-xl-5">
            <h3><span>Frequently Asked </span><strong>Questions</strong></h3>
            <p>
              FINANCIAL BROKER bertugas mencarikan lembaga keuangan yang sesuai dengan kebutuhan Anda. Kami fokus pada solusi pinjaman yang tepat, tanpa terlibat dalam pemberian pinjaman langsung.
            </p>
          </div>
        </div>

        <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

          <div class="faq-container">
            <div class="faq-item faq-active">
              <h3><span class="num">1.</span> <span>Apa itu Take Over Top Up?</span></h3>
              <div class="faq-content">
                <p>Take Over Top Up adalah jenis pinjaman di mana selain memindahkan KPR ke bank lain, Anda juga mendapatkan tambahan dana pinjaman.</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

            <div class="faq-item">
              <h3><span class="num">2.</span> <span>Apa saja keuntungan Take Over Top Up?</span></h3>
              <div class="faq-content">
                <p>Anda mendapatkan dana tambahan sekaligus suku bunga yang lebih kompetitif dari bank baru.</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

            <div class="faq-item">
              <h3><span class="num">3.</span> <span>Apakah saya perlu memberikan jaminan tambahan untuk Take Over Top Up?</span></h3>
              <div class="faq-content">
                <p>Tidak, properti yang sudah ada tetap menjadi jaminan, kecuali jika diperlukan tambahan jaminan sesuai penilaian bank.
                </p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

          </div>

        </div>
      </div>

    </div>

  </section><!-- /Faq Section -->

{% endblock %}